@import "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

body {
  background-color: #f6eee6;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    text-align: center;
  }

  span {
    color: #614836;
  }

  .name,
  .description {
    display: block;
  }

  .name {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: #bf9b73;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  .divider {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100px;
  }

  .btn {
    max-width: fit-content;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-primary {
    background-color: #bf9b73;
    border-color: #bf9b73;
    color: #fff;
  }

  .btn-secondary {
    background-color: #fff;
    border-color: #fff;
    color: #bf9b73;
  }
}

.header-row {
  min-height: 100vh;

  * {
    .title {
      h1 {
        font-family: "Playfair Display", serif;
        font-size: 64px;
      }
    }
    .subtitle,
    .datetime {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

.people-row {
  padding-top: 60px;

  p,
  span {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #614836;
  }

  .couple {
    margin-top: 60px;
  }

  .description {
    font-family: "Roboto", sans-serif;
  }
}

.event-row {
  padding: 60px 60px 0 60px;

  & > .col {
    padding: 0;
  }

  p {
    font-family: "Roboto", sans-serif;
  }

  .description {
    font-family: "Playfair Display", serif;
    color: #614836;
  }

  .container-fluid {
    background-color: #fff;
    padding: 60px;
    margin: 0;

    .row {
      padding: 30px 0;
    }

    .row:nth-child(1) {
      padding-top: 0;
    }

    .card {
      background-color: #f6eee6;
      padding: 30px 25px;
      border: 0;
      border-radius: 0;

      .divider {
        width: 40px;
        margin-left: auto;
        margin-right: auto;
      }

      .description.location {
        margin: 15px 0 25px;
      }
    }

    .countdown {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .item {
        padding: 0 10px;

        .number {
          font-size: 40px;
          font-weight: 700;
        }
      }
    }

    .health-icon-row {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.gallery-row {
  padding: 0 60px;

  .col-12 {
    padding: 30px 0;

    .lightbox {
      .row {
        align-items: flex-start;

        .col-3 {
          padding-left: 5px;
          padding-right: 5px;

          img {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.wallet-row {
  padding: 30px 60px;
  justify-content: flex-start;

  .row * {
    text-align: left;
  }

  .wallet {
    padding: 60px;
    background-color: #bf9b73;
    flex: 0 0 100%;
    color: #fff;

    .col-6:nth-child(2) {
      justify-content: flex-end;
      text-align: right;
    }

    .name,
    .description {
      color: #fff;
    }
  }
}

.rsvp-row {
  padding: 30px 60px;

  & > .col {
    padding: 0;
  }

  .container-fluid {
    background-color: #fff;
    padding: 60px 80px;

    form {
      padding-top: 60px;
    }

    .btn-primary {
      max-width: 100%;
      width: 100%;
    }

    .comment {
      .card {
        background-color: transparent;
        border: none;
        margin-bottom: 20px;

        * {
          text-align: left;
        }

        .card-top {
          display: inline-flex;

          .name,
          .time {
            display: block;
            font-family: "Roboto", sans-serif;
          }

          .name {
            font-size: 16px;
            color: #bf9b73;
          }

          .time {
            font-size: 12px;
            color: #614836;
          }
        }

        .card-bottom {
          margin-top: 8px;
          margin-left: 62px;
        }

        img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
    }
  }
}

.navbar-bottom {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;

  ul {
    width: 100%;
    justify-content: space-between;
  }
}
